<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

<link rel="stylesheet" type="text/css" href="/css/navBar.css">
<link rel="stylesheet" type="text/css" href="/css/sidebar.css">
<link rel="stylesheet" type="text/css" href="/css/trumbowyg.css">
<link rel="stylesheet" type="text/css" href="/css/communitystyle.css">
<link rel="stylesheet" type="text/css" href="/css/sirstyle.css">

<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<script src="/script/trumbowyg.min.js"></script>

<% include paritials/topbar.ejs %>
<% if(data.isActive == "true"){ %>
  <% include paritials/sidebar.ejs %>
<% } %>

<style>
.communitymembers-head-btn {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px;
    margin-top: 2px;
}
.active-link-btn{
  color:rgb(73, 73, 73) !important;
}
dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
</style>

<div class="container-fluid page-content-div" style="padding:0">
    <div class="row">
        <div class="col-lg-12 scoll-possible" style="padding:0">
			<div class="community-header-top communityheader-profile-mobile" style="padding-top:6px;position:relative;">
			    <div class="container pc">
				</div>
				<center>
				    <div class="communityprofile-name-mobile" style="max-height:40px;overflow:scroll">
				        <a href="/userTable/profile/<%= data2._id %>" style="color:white">
				            <%= data2.name %>
				        </a>
				    </div>
				</center>
			    <center>
			      <a href="/userTable/profile/<%= data2._id %>">
			        <img src="<%= data2.photoloc %>" class="mobile img-communityprofile-pic allSides" style="background:#fff">
			      </a>
			    </center>
			</div>
			<div class="container community-profile-conatiner" style="display:flex;">
				<div class="col-sm-2 col-xs-12 center-mobile pc">
				<a href="/userTable/profile/<%= data2._id %>">
				  <img src="<%= data2.photoloc %>" class="img-communityprofile-pic allSides" style="background:#fff">
				</a>
			</div>
			<div class="col-sm-8 communityprofile-name-pc communityprofile-system">
			  <a href="/userTable/userprofile/<%= data2._id %>" class="communityprofile-name-pc">
			    <%= data2.name %>
			  </a>
			</div>
<div class="col-sm-2 col-xs-12 center-mobile" style="padding-top:10px;float:right">
<div class="dropdown open">
  <button class="btn btn-default dropdown-toggle commuity-profile-menu-btn" type="button" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-bars"></i>
  </button>
  <ul class="dropdown-menu custom-commuity-dropdown dropdown-menu-right">
      <li>
          <a href="#" class="community-profile-option-btn">
            Discussions
          </a>
      </li>
      <li>
          <a href="/userTable/<%= data2._id %>" class="community-profile-option-btn">
            Manage Community
          </a>
      </li>
      <li>
          <a href="/userTable/profile/<%= data2._id %>" class="community-profile-option-btn">
            Community Profile
          </a>
      </li>
      <li>
          <a href="/userTable/communitymembers/<%= data2._id %>" class="community-profile-option-btn">
            Community Members
          </a>
      </li>

    </ul>
</div>
</div>

</div>
<center>
    <hr style="border-top:2px solid #E6E6E6;width:85%;margin-top:0">
</center>

<div class="container">

<div style="margin-top:20px;margin-bottom:50px">
  <div class="col-sm-3 col-md-3 col-xs-4 col-lg-2" style="display: flex">
  	<div style="display: flex;">
    <a class="communitymembers-head-btn active-link-btn" onclick="initalise()" id="admins-list-btn">
      Managers (0)
    </a>
  </div>
  <div class="col-sm-3 col-md-3 col-xs-4 col-lg-2">
    <a class="communitymembers-head-btn" onclick="initalise2()" id="users-list-btn">
      Members (0)
    </a>
  </div>
  </div>
  <div class="col-sm-12" id="colum">
      <div id="comUsersList">

      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>
<script type="text/javascript">
		var commid="<%= data2._id %>"
	$(document).ready(function() {
  initalise();
})

function initalise()
{
	 document.getElementById('colum').innerHTML=""
	var xml=new XMLHttpRequest();
  xml.open("POST","/userTable/getManagers");
  xml.setRequestHeader("Content-Type","application/json");
  xml.addEventListener("load",function()
  {
      var data=JSON.parse(xml.responseText);
      if(data.length==0)
        noMangers();
      else
      {
        for(i in data)
        {
          addToMangers(data[i])
        }
        document.getElementById('admins-list-btn').innerHTML="Managers ("+data.length+")";
    }
  })
  xml.send(JSON.stringify({"_id":commid}));
}

function initalise2()
{
	 document.getElementById('colum').innerHTML=""
	var xml=new XMLHttpRequest();
  xml.open("POST","/userTable/getusers");
  xml.setRequestHeader("Content-Type","application/json");
  xml.addEventListener("load",function()
  {
      var data=JSON.parse(xml.responseText);
      if(data.length==0)
        noMangers();
      else
      {
        for(i in data)
        {
          addToMangers(data[i])
        }
        document.getElementById('users-list-btn').innerHTML="Members ("+data.length+")";
    }
  })
  xml.send(JSON.stringify({"_id":commid}));
}

function addToMangers(obj) {
	var div1=document.createElement('div')
	div1.setAttribute("class","col-sm-12 col-xs-12 allcoms community-user-div OwnerDivMain");
	div1.setAttribute("style","argin-top: 5px; display: inline; display: flex;");
	var div2=document.createElement('div');
	div2.setAttribute("class","col-sm-2 col-xs-5")
	div2.setAttribute("style","padding:5px;")
	var a=document.createElement('a');
	a.setAttribute("href","/userTable/profile/"+obj._id)
	var img1=document.createElement('img')
	img1.setAttribute("src",obj.photoloc)
	img1.setAttribute("class","community-member-pic")
	a.appendChild((img1))
	div2.appendChild(a)
	div1.appendChild(div2)
	if(obj._id=="<%= data2.ownerid %>")
	{
	var span=document.createElement('span')
	span.setAttribute("class","label label-primary")
	span.innerHTML="Owner";
	div2.appendChild(span);
	}
	var div3=document.createElement('div')
	div3.setAttribute("class","col-sm-9 col-xs-7 scrollable")
	var a2=document.createElement('a')
	a2.setAttribute("class","comusername")
	a2.setAttribute("href","/userTable/profile/"+obj._id)
	a2.innerHTML=obj.name;
	div3.appendChild(a2)
	div1.appendChild(div3)
	document.getElementById('colum').appendChild(div1)
}
</script>