<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CQ</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css">
<link rel="stylesheet" type="text/css" href="/css/editprofile.css">

<link rel="stylesheet" type="text/css" href="/css/navBar.css">
<link rel="stylesheet" type="text/css" href="/css/sidebar.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<script type="text/javascript" src="script/select2.js"></script>

<% include paritials/topbar.ejs %>
<% if(data.isActive == "true"){ %>
  <% include paritials/sidebar.ejs %>
<% } %>

<div class="container-fluid page-content-div">
  <div class="row">
    <div class="col-lg-12 scoll-possible">
      <div class="container">
        <div style="margin-top:30px;">
          <div class="col-12">
          <div class="card allSidesSoft">
              <div class="card-body">

                <div class="d-flex">
                    <div class="image-container"  id="profilepicform">
                        <img src="<%= data.photoloc %>" id="user-profile-image" style="width: 150px; height: 150px" class="img-thumbnail allSidesSoft">
                        <div class="middle">
                            <div class="upload-btn-wrapper">
                            <form method="post" action="/userTable/uploadphoto" id="profilepicform1" enctype="multipart/form-data">
                              <button id="uploadfiletodatabase" class="btn">Upload a file</button>
                              <input type="file" id="up" name="file"/>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="panel-group">
                    <div class="panel panel-default editUserPanel">
                      <div class="panel-heading">Basic Info</div>
                        <div class="panel-body">
                          <div class="form-group marginbox">
                              <label>Email :</label>
                              <input type="text" value="<%= data.email %>" class="form-control" name="username" id="email" disabled="true">
                          </div>
                          <div class="form-group marginbox">
                              <label>Name :</label>
                              <input type="text" class="form-control" name="fullname" autocomplete="off" required="" placeholder="Name" id="name" value="<%= data.name %>">
                          </div>
                          <div class="form-group col-sm-5" style="display: inline-block;">
                            <label>DOB :</label>
                              <input class="form-control dobDate" name="dob" placeholder="MM/DD/YYYY" id="DOB" type="text" autocomplete="off" required="" value="<%= data.DOB %>">
                          </div>
                          <div class="form-group col-sm-5" style="display: inline-block;">
                            <label>Gender :</label>
                              <select name="gender" id="gender" class="form-control" style="height:34px;">
                                <optgroup label="Select Gender">
                                  <option value="Male" id="male">Male</option>
                                  <option value="Female" id="female">Female</option>
                                  <option value="Transgender" id="Transgender">Transgender</option>
                                </optgroup>
                              </select>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default editUserPanel">
                        <div class="panel-heading">Contact Info</div>
                          <div class="panel-body">
                            <div class="form-group marginbox">
                              <label>Phone :</label>
                              <input type="text" value="<%= data.phoneno %>"  class="form-control" name="phone" maxlength="10" required="" id="phoneno">
                            </div>
                            <div class="form-group marginbox">
                              <label>City :</label>
                             <input type="text" class="form-control" name="city" required="" id="city" value="<%= data.city %>"> 
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default editUserPanel">
                        <div class="panel-heading">Personal Info</div>
                          <div class="panel-body">
                            <div class="form-group">
                              <label>Interests :</label>
                              <div class="tag-conatiner-custom-div">

<input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Enter interests..." style="width: 100%;" id="interests">
                              </div>
                              </div>

                              <div class="form-group">
                                <label>Tell us a bit more about your journey:</label>
                                <textarea type="text" class="form-control" name="aboutjourney" id="aboutyou" value="<%= data.aboutyou %>"></textarea>
                              </div>
                              <div class="form-group">
                                <label>What are your expectations from the communities?</label>
                                <textarea type="text" class="form-control" name="comExpectations" id="expectations" value="<%= data.expectations %>"></textarea>
                              </div>
                            </div>
                          </div>
                          <br>
                          <div class="form-group">
                            <a href="" class="btn btn-warning pull-left btnEditForm">Change Password</a>
                            <a href="" class="btn btn-danger pull-right btnEditForm" >Cancel</a>
                            <input type="submit" class="btn btn-primary pull-right btnEditForm" id="update" value="Update">
                          </div>
                        </div>
                </form>
              </div>
         </div>
      </div>
  </div>
</div>

<br>

</div>
</div>
</div>
</div> 
<script type="text/javascript">
document.getElementById('gender').value="<%= data.gender %>"

   $("#up").on('change',function(){
        document.getElementById("profilepicform1").submit();
      })

  document.getElementById('update').addEventListener("click",function(event)
  {
    if(document.getElementById('gender').value=="")
    {
      alert("Enter Gender");
      return;
    }
    if(document.getElementById('DOB').value=="")
    {
      alert("Enter DOB");
      return;
    }
    var obj=new Object();
    obj.name=document.getElementById('name').value;
    obj.DOB=document.getElementById('DOB').value;
    obj.gender=document.getElementById('gender').value;
    obj.phoneno=document.getElementById('phoneno').value;
    obj.city=document.getElementById('city').value;
    obj.interests=document.getElementById('interests').value;
    obj.aboutyou=document.getElementById('aboutyou').value;
    obj.expectations=document.getElementById('expectations').value;
    var xml=new XMLHttpRequest();
    xml.open("POST","/userTable/updateprofile");
    if( document.getElementById("up").files.length != 0 )
    document.getElementById("profilepicform1").submit();
    xml.addEventListener("load",function()
    {
        window.location='/home';
    })
    xml.setRequestHeader("Content-Type","application/json");
    xml.send(JSON.stringify(obj));
  });
</script>