<% layout('layout/layout') %>

<link rel="stylesheet" type="text/css" href="/css/editprofile.css">

<script type="text/javascript" src="/script/select2.js"></script>

<% include partials/navbar.ejs %>

<% if(data.isActive == "true"){ %>
<% include partials/sidebar.ejs %>
<% } %>

<div class="container" style="padding-top: 90px;">
  <div class="card scoll-possible allSidesSoft">
    <div class="card-body m-3">
      <form action="/userTable/updateprofile" method="POST" enctype="multipart/form-data">

        <div class="d-flex p-3">
          <div class="image-container">
            <img src="<%= data.photoloc %>" style="width: 150px; height: 150px" class="img-thumbnail">
            <div class="middle">
              <div class="upload-btn-wrapper">
                <button class="btn">Upload a file</button>
                <input type="file" class="userfile" name="userfile">
              </div>
            </div>
          </div>
        </div>

        <div class="card panel-group">

          <div class="edit-User-Card p-3">
            <div class="card-header">Basic Info</div>
            <div class="card-body">
              <div class="form-group">
                <label>Email :</label>
                <input type="text" value="<%= data.email %>" class="form-control" name="username" readonly>
              </div>
              <div class="form-group">
                <label>Name :</label>
                <input type="text" class="form-control" name="fullname" autocomplete="off" required placeholder="Name"
                  value="<%= data.name %>">
              </div>
              <div class="d-flex bd-highlight">
                <div class="form-group flex-fill bd-highlight col-sm-4">
                  <label>DOB :</label>
                  <input class="form-control" name="dob" placeholder="MM/DD/YYYY" type="date" autocomplete="off"
                    required value="<%= data.DOB %>">
                </div>
                <div class="form-group flex-fill bd-highlight col-sm-4">
                  <label>Gender :</label>
                  <select name="gender" class="form-control" id="gender" style="height:34px;">
                    <option value="Male" name="Male">Male</option>
                    <option value="Female" name="Female">Female</option>
                    <option value="Transgender" name="Transgender">Transgender</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="edit-User-Card p-3">
            <div class="card-header">Contact Info</div>
            <div class="card-body">
              <div class="form-group">
                <label>Phone :</label>
                <input type="text" value="<%= data.phoneno %>" class="form-control" name="phoneno" maxlength="10"
                  required>
              </div>
              <div class="form-group">
                <label>City :</label>
                <input type="text" class="form-control" name="city" required value="<%= data.city %>">
              </div>
            </div>
          </div>

          <div class="edit-User-Card p-3">
            <div class="card-header">Personal Info</div>
            <div class="card-body">
              <div class="form-group">
                <label>Interests :</label>
                <div class="tag-conatiner-custom-div">
                  <input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off"
                    autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list"
                    placeholder="Enter interests..." style="width: 100%;" name="interests"
                    value="<%= userdata.interests %>">
                </div>
              </div>
              <div class="form-group">
                <label>Tell us a bit more about your journey:</label>
                <textarea type="text" class="form-control" name="aboutyou"><%= userdata.aboutyou %></textarea>
              </div>
              <div class="form-group">
                <label>What are your expectations from the communities?</label>
                <textarea type="text" class="form-control" name="expectations"><%= userdata.expectations %></textarea>
              </div>
            </div>
          </div>
          <br>
          <div class="form-group m-3">
            <% if(data.isActive == "true"){ %>
            <a href="/changePassPage" class="btn btn-lg btn-warning pull-left ">Change Password</a>
            <% } %>
            <a href="/userTable/editprofile" class="btn btn-lg btn-danger pull-right ">Cancel</a>
            <input type="submit" class="btn btn-lg btn-primary pull-right" style="margin-right:5px;" value="Update">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="errorModal" role="dialog" style="z-index: 9999; display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2><b>Required!!!</b></h2>
      </div>
      <div class="modal-body">
        <p id="errorMsg"></b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    document.getElementById('gender').value = "<%= data.gender %>"
  </script>