<% layout('layout/layout') %>

<link rel="stylesheet" type="text/css" href="/css/home-css.css">

<% include partials/navbar.ejs %>

<% if(data.isActive == "true"){ %>
<% include partials/sidebar.ejs %>
<% } %>

<div class="container container-home mb-5" style="padding-top: 90px;">
    <div class="card shadow">
        <div class="d-flex home-con">
            <div class="image-home-container m-2 p-2 ml-5 pl-5">
                <img src="<%= data.photoloc %>" alt="Profile Photo" class="image-home-content" />
            </div>
            <% if(editoption == true){ %>
            <div class="form-group ml-auto p-2 bd-highlight">
                <a href="/userTable/editProfile" class="edtbtn btn btn-primary">Edit</a>
            </div>
            <% } %>
        </div>
        <div class=" d-flex home-con">
            <div class="col-home-div shadow">
                <div class="panel-home-heading">Email</div>
                <div class="panel-home-body"><%= data.email %></div>
            </div>
            <div class="col-home-div shadow">
                <div class="panel-home-heading">Gender</div>
                <div class="panel-home-body"><%= data.gender %></div>
            </div>
        </div>
        <div class="d-flex home-con">
            <div class="col-home-div shadow">
                <div class="panel-home-heading">Name</div>
                <div class="panel-home-body"><%= data.name %></div>
            </div>
            <div class="col-home-div shadow">
                <div class="panel-home-heading">City</div>
                <div class="panel-home-body"><%= data.city %></div>
            </div>
        </div>
        <div class="d-flex home-con">
            <div class="col-home-div shadow">
                <div class="panel-home-heading">D.O.B</div>
                <div class="panel-home-body"><%= data.DOB %></div>
            </div>
            <div class="col-home-div shadow">
                <div class="panel-home-heading">Phone</div>
                <div class="panel-home-body"><%= data.phoneno %></div>
            </div>
        </div>
    </div>
</div>