<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CQ - <%= data.name %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

  <link rel="stylesheet" type="text/css" href="/css/navBar.css">
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/css/trumbowyg.css">
  <link rel="stylesheet" type="text/css" href="/css/communitystyle.css">
  <link rel="stylesheet" type="text/css" href="/css/sirstyle.css">

  <script src="script/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
  <script src="/script/trumbowyg.min.js"></script>
</head>

<body>
  <%- include ('paritials/topbar.ejs') %>
  <% if(data.isActive == "true"){ %>
  <%- include ('paritials/sidebar.ejs') %>
  <% } %>
  <div id="page-content-wrapper">
    <div class="container-fluid page-content-div" style="padding:0">
      <div class="row">
        <div class="col-lg-12 scoll-possible" style="padding:0">
          <div class="community-header-top communityheader-profile-mobile" style="padding-top:6px;position:relative;">
            <div class="container pc">
            </div>
            <center>
              <div class="communityprofile-name-mobile" style="max-height:40px;overflow:scroll">
                <a href="/communityTable/profile/<%= data2._id %>" style="color:white" id="communityname">
                  <%= data2.name %>
                </a>
              </div>
            </center>
            <center>
              <a href="/communityTable/profile/<%= data2._id %>">
                <img src="<%= data2.photoloc %>" class="mobile img-communityprofile-pic allSides"
                  style="background:#fff" id="mobileimg">
              </a>
            </center>
          </div>
          <div class="container community-profile-conatiner" style="flex-direction:row;height:auto;display: flex;">
            <div style="flex:1;">
              <div class="col-sm-2 col-xs-12 center-mobile pc">
                <a href="/communityTable/profile/<%= data2._id %>">
                  <img src="<%= data2.photoloc %>" class="img-communityprofile-pic allSides" style="background:#fff"
                    id="pcimg">
                </a>
              </div>
              <div class="col-sm-8 communityprofile-name-pc communityprofile-system">
                <a href="" class="communityprofile-name-pc" style="margin-left:180px;">
                  <%= data2.name %>
                </a>
              </div>
            </div>
            <div class="col-sm-2 col-xs-12 center-mobile" style="padding-top:10px;float:right">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle commuity-profile-menu-btn" type="button"
                  data-toggle="dropdown">
                  <i class="fa fa-bars"></i>
                </button>
                <ul class="dropdown-menu custom-commuity-dropdown dropdown-menu-right" style="">
                  <li>
                    <a href="#" class="community-profile-option-btn">
                      Discussions
                    </a>
                  </li>
                  <li>
                    <a href="#" class="community-profile-option-btn">
                      Manage Community
                    </a>
                  </li>
                  <li>
                    <a href="/communityTable/profile/<%= data2._id %>" class="community-profile-option-btn">
                      Community Profile
                    </a>
                  </li>
                  <li>
                    <a href="/communityTable/communitymembers/<%= data2._id %>" class="community-profile-option-btn">
                      Community Members
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <center>
            <hr style="border-top:2px solid #E6E6E6;width:85%;margin-top:0">
          </center>
          <div class="modal fade" id="popUpManageCommunityMessage" role="dialog" style="z-index:9999">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title" id="mailheader">Reject Message</h4>
                </div>
                <div class="modal-body">

                  <div class="form-horizontal">
                    <!-- form -->
                    <div class="form-group">
                      <div class="col-sm-12">
                        <center>
                          <p id="fullNameMessagePop"></p>
                        </center>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <!--Body-->
                        <textarea type="text" class="form-control" id="messageBoxPop" style="resize: none;height:200px"
                          required=""></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default" id="sendButtonPop" style="float:right">Send And Reject</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container" style="height:auto">
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12"
              style="padding-bottom:5px;border-bottom:1px solid #c4c4c4;">
              <nonlink class="manageCommunity-head-btn" style="cursor: context-menu;">
                Manage Community
              </nonlink>
              <a href="/communityTable/inviteusers/<%= data2._id %>" style="float:right;font-weight:600">
                Invite Users
              </a>

              <a class="pc" href="/communityTable/edit/<%= data2._id %>"
                style="float:right;font-weight:600;margin-right:15px">
                Edit Community
              </a>

            </div>
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12" style="padding:10px 0 0 0;display:flex;">
              <div class="col-sm-3 manageCommunity-commuity-div" style="padding:0;">
                <div class="panel-heading allSidesSoft center-all mobile" style="background:#fff;margin-bottom:5px">
                  <a class="btn btn-primary editcommunity-btn">
                    Edit Commuity
                  </a>
                </div>
                <div class="panel-body allSidesSoft" style="background:#fff">
                  <a class="manageCommunity-child-btn manageCommunity-btn-active" onclick="initaliseusers()"
                    id="UsersShowBtn">
                    Users (<%= data2.users.length %>)</a>
                  <br>
                  <a class="manageCommunity-child-btn" onclick="initalisemangers()" id="managersShowBtn">
                    Managers (<%= data2.managers.length %>)
                  </a>
                  <br>
                  <a class="manageCommunity-child-btn" onclick="initaliserequest()" id="requestedUserShowBtn">
                    Requests (<%= data2.request.length %>)
                  </a>
                  <br>
                  <a class="manageCommunity-child-btn" onclick="initaliseinvited()" id="invitedUserShowBtn">
                    Invited Members (<%= data2.invited.length %>)
                  </a>
                </div>
                <br>
              </div>
              <div class="col-sm-9">
                <div id="comlist">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var commid = "<%= data2._id %>"
    $(document).ready(function () {
      initaliseusers();
    })

    function initaliserequest() {
      var xml = new XMLHttpRequest();
      xml.open("POST", "/communityTable/getrequest");
      xml.setRequestHeader("Content-Type", "application/json");
      document.getElementById('comlist').innerHTML = "";
      xml.addEventListener("load", function () {
        $('#invitedUserShowBtn').removeClass()
        $('#invitedUserShowBtn').addClass('manageCommunity-btn');
        $('#managersShowBtn').removeClass();
        $('#managersShowBtn').addClass('manageCommunity-child-btn');
        $('#UsersShowBtn').removeClass();
        $('#UsersShowBtn').addClass('manageCommunity-child-btn');
        $('#requestedUserShowBtn').removeClass();
        $('#requestedUserShowBtn').addClass('manageCommunity-btn-active');
        var data = JSON.parse(xml.responseText);
        if (data.length == 0)
          noRequest();
        else {
          for (i in data)
            addToRequestDOM(data[i])
          document.getElementById('requestedUserShowBtn').innerHTML = "Requests (" + data.length + ")";
        }
        $('#requestedUserShowBtn').addClass('manageCommunity-btn-active');
      })
      xml.send(JSON.stringify({
        "_id": commid
      }));
    }

    function initaliseinvited() {
      var xml = new XMLHttpRequest();
      xml.open("POST", "/communityTable/getinveted");
      xml.setRequestHeader("Content-Type", "application/json");
      document.getElementById('comlist').innerHTML = ""
      xml.addEventListener("load", function () {
        var data = JSON.parse(xml.responseText);
        $('#invitedUserShowBtn').removeClass()
        $('#invitedUserShowBtn').addClass('manageCommunity-btn-active');
        $('#managersShowBtn').removeClass();
        $('#managersShowBtn').addClass('manageCommunity-child-btn');
        $('#UsersShowBtn').removeClass();
        $('#UsersShowBtn').addClass('manageCommunity-child-btn');
        $('#requestedUserShowBtn').removeClass();
        $('#requestedUserShowBtn').addClass('manageCommunity-child-btn');
        if (data.length == 0)
          noinvitedMembers();
        else {
          for (i in data)
            addToInvited(data[i])
          document.getElementById('invitedUserShowBtn').innerHTML = "Invited Members(" + data.length + ")";
        }
      })
      xml.send(JSON.stringify({
        "_id": commid
      }));
    }

    function addToRequestDOM(obj) {
      var div1 = document.createElement('div')
      div1.setAttribute("class", "col-sm-12 col-xs-12 allcoms community-user-div")
      div1.setAttribute("style", "margin-top:5px;display:flex;")
      var div2 = document.createElement('div')
      div2.setAttribute("class", "col-sm-2 col-xs-3")
      div2.setAttribute("style", "padding:5px;")
      var a1 = document.createElement('a')
      a1.setAttribute("href", "/communityTable/userprofile/" + obj._id)
      var img1 = document.createElement('img')
      img1.setAttribute("src", obj.photoloc)
      img1.setAttribute("class", "community-member-pic")
      a1.appendChild(img1)
      div2.appendChild(a1)
      div1.appendChild(div2)
      var div3 = document.createElement('div')
      div3.setAttribute("class", "col-sm-8 col-xs-6")
      var a2 = document.createElement('a')
      a2.setAttribute("class", "comusername")
      a2.innerHTML = obj.name
      a2.setAttribute("href", "/communityTable/userprofile/" + obj._id)
      div3.appendChild(a2)
      div1.appendChild(div3)
      var div4 = document.createElement('div')
      div4.setAttribute("class", "col-sm-2 col-xs-3")
      var a3 = document.createElement('a')
      a3.setAttribute("class", "community-user-short-btn")
      a3.setAttribute("style", "float:left")
      var i1 = document.createElement('i')
      i1.setAttribute("class", "fa fa-check")
      a3.appendChild(i1)
      a3.setAttribute("id", "requestacceptbtn")
      a3.setAttribute("onclick", "requestaccept('" + obj._id + "')");
      div4.appendChild(a3)
      var a4 = document.createElement('a')
      a4.setAttribute("class", "community-user-short-btn")
      a4.setAttribute("style", "float:right")
      a4.setAttribute("id", "requestrejectbtn")
      a4.setAttribute("onclick", "requestreject('" + obj._id + "')")
      var i2 = document.createElement('i')
      i2.setAttribute("class", "fa fa-times")
      a4.appendChild(i2)
      div4.appendChild(a4)
      div1.appendChild(div4)
      document.getElementById('comlist').appendChild(div1)
    }

    function addToInvited(obj) {
      var div1 = document.createElement('div')
      div1.setAttribute("class", "col-sm-12 col-xs-12 allcoms community-user-div")
      div1.setAttribute("style", "margin-top:5px;display:flex;")
      var div2 = document.createElement('div')
      div2.setAttribute("class", "col-sm-2 col-xs-3")
      div2.setAttribute("style", "padding:5px;")
      var a1 = document.createElement('a')
      a1.setAttribute("href", "/communityTable/userprofile/" + obj._id)
      var img1 = document.createElement('img')
      img1.setAttribute("src", obj.photoloc)
      img1.setAttribute("class", "community-member-pic")
      a1.appendChild(img1)
      div2.appendChild(a1)
      div1.appendChild(div2)
      var div3 = document.createElement('div')
      div3.setAttribute("class", "col-sm-8 col-xs-6")
      var a2 = document.createElement('a')
      a2.setAttribute("class", "comusername")
      a2.innerHTML = obj.name
      a2.setAttribute("href", "/communityTable/userprofile/" + obj._id)
      div3.appendChild(a2)
      div1.appendChild(div3)
      var div4 = document.createElement('div')
      div4.setAttribute("class", "col-sm-2 col-xs-3")
      var a4 = document.createElement('a')
      a4.setAttribute("class", "community-user-short-btn")
      a4.setAttribute("style", "float:right")
      a4.setAttribute("id", "requestrejectbtn")
      a4.setAttribute("onclick", "deleteinvited('" + obj._id + "')")
      var i2 = document.createElement('i')
      i2.setAttribute("class", "fa fa-times")
      a4.appendChild(i2)
      div4.appendChild(a4)
      div1.appendChild(div4)
      document.getElementById('comlist').appendChild(div1)
    }

    function deleteinvited(id) {
      var xml = new XMLHttpRequest();
      xml.open("POST", "/communityTable/deleteinvited");
      var ob = new Object();
      ob.commid = commid;
      ob.id = id;
      xml.setRequestHeader("Content-Type", "application/json");
      xml.addEventListener("load", function () {
        location.reload();
      })
      xml.send(JSON.stringify(ob));
    }

    function initalisemangers() {
      var xml = new XMLHttpRequest();
      xml.open("POST", "/communityTable/getManagers");
      xml.setRequestHeader("Content-Type", "application/json");
      document.getElementById('comlist').innerHTML = ""
      xml.addEventListener("load", function () {
        $('#invitedUserShowBtn').removeClass()
        $('#invitedUserShowBtn').addClass('manageCommunity-btn');
        $('#managersShowBtn').removeClass();
        $('#managersShowBtn').addClass('manageCommunity-btn-active');
        $('#UsersShowBtn').removeClass();
        $('#UsersShowBtn').addClass('manageCommunity-child-btn');
        $('#requestedUserShowBtn').removeClass();
        $('#requestedUserShowBtn').addClass('manageCommunity-btn');
        var data = JSON.parse(xml.responseText);
        if (data.length == 0)
          noMangers();
        else {
          for (i in data) {
            addtoMangersDOM(data[i])
          }
          document.getElementById('managersShowBtn').innerHTML = "Managers (" + data.length + ")";
        }
      })
      xml.send(JSON.stringify({
        "_id": commid
      }));
      document.getElementById('comlist').innerHTML = ""
    }

    function initaliseusers() {
      var xml = new XMLHttpRequest();
      xml.open("POST", "/communityTable/getUsers");
      xml.setRequestHeader("Content-Type", "application/json");
      document.getElementById('comlist').innerHTML = ""

      xml.addEventListener("load", function () {
        $('#invitedUserShowBtn').removeClass()
        $('#invitedUserShowBtn').addClass('manageCommunity-btn');
        $('#managersShowBtn').removeClass();
        $('#managersShowBtn').addClass('manageCommunity-child-btn');
        $('#UsersShowBtn').removeClass();
        $('#UsersShowBtn').addClass('manageCommunity-btn-active');
        $('#requestedUserShowBtn').removeClass();
        $('#requestedUserShowBtn').addClass('manageCommunity-btn');
        var data = JSON.parse(xml.responseText);
        if (data.length == 0)
          noUser();
        else {
          for (i in data) {
            addtoUserDOM(data[i])
          }
          document.getElementById('UsersShowBtn').innerHTML = "Users (" + data.length + ")";
        }
      })
      xml.send(JSON.stringify({
        "_id": commid
      }));
    }

    function addtoUserDOM(obj) {
      var deletename = "users";
      var div1 = document.createElement('div')
      div1.setAttribute("class", "col-sm-12 col-xs-12 allcoms community-user-div")
      div1.setAttribute("style", "margin-top:5px;display:flex;")
      var div2 = document.createElement('div')
      div2.setAttribute("class", "col-sm-2 col-xs-3")
      div2.setAttribute("style", "padding:5px;")
      var a1 = document.createElement('a')
      a1.setAttribute("href", "/communityTable/userprofile/" + obj._id)
      var img1 = document.createElement('img')
      img1.setAttribute("src", obj.photoloc)
      img1.setAttribute("class", "community-member-pic")
      a1.appendChild(img1)
      div2.appendChild(a1)
      div1.appendChild(div2)
      var div3 = document.createElement('div')
      div3.setAttribute("class", "col-sm-8 col-xs-6")
      var a2 = document.createElement('a')
      a2.setAttribute("class", "comusername")
      a2.innerHTML = obj.name
      a2.setAttribute("href", "/communityTable/userprofile/" + obj._id)
      div3.appendChild(a2)
      div1.appendChild(div3)
      var div4 = document.createElement('div')
      div4.setAttribute("class", "col-sm-2 col-xs-3")
      var a3 = document.createElement('a')
      a3.setAttribute("class", "community-user-short-btn")
      a3.setAttribute("style", "float:left")
      var i1 = document.createElement('i')
      i1.setAttribute("class", "fa fa-chevron-up")
      a3.appendChild(i1)
      a3.setAttribute("id", "promotebtn")
      a3.setAttribute("onclick", "promote('" + obj._id + "')");
      div4.appendChild(a3)
      var a4 = document.createElement('a')
      a4.setAttribute("class", "community-user-short-btn")
      a4.setAttribute("style", "float:right")
      a4.setAttribute("id", "deletebtn")
      a4.setAttribute("onclick", "deleteb('" + obj._id + "')")
      var i2 = document.createElement('i')
      i2.setAttribute("class", "fa fa-times")
      a4.appendChild(i2)
      div4.appendChild(a4)
      div1.appendChild(div4)
      document.getElementById('comlist').appendChild(div1)
    }

    function promote(id) {
      $(document).on("click", "#promotebtn", function () {
        $.confirm({
          title: 'Activate User!',
          content: 'Are you Sure you want to Deactivate ',
          theme: 'supervan',
          buttons: {
            'Yes': {
              btnClass: 'btn-success',
              action: function () {
                var xml = new XMLHttpRequest();
                xml.open("POST", "/communityTable/promoteusers");
                xml.setRequestHeader("Content-Type", "application/json");
                xml.addEventListener("load", function () {
                  var data = JSON.parse(xml.responseText);
                  if (data == "true")
                    alert("User Promoted");
                  initaliseusers();
                })
                xml.send(JSON.stringify({
                  "_id": id,
                  "commid": commid
                }));
              }
            },
            'No': {
              btnClass: 'btn-danger',
            }
          }
        })
      });
    }

    function requestaccept(id) {
      $(document).on("click", "#requestacceptbtn", function () {
        $.confirm({
          title: 'Activate User!',
          content: 'Are you Sure you want to Deactivate ',
          theme: 'supervan',
          buttons: {
            'Yes': {
              btnClass: 'btn-success',
              action: function () {
                var xml = new XMLHttpRequest();
                xml.open("POST", "/communityTable/acceptrequest");
                xml.setRequestHeader("Content-Type", "application/json");
                xml.addEventListener("load", function () {
                  var data = JSON.parse(xml.responseText);
                  if (data == "true")
                    alert("User Accepted");
                  initaliserequest();
                })
                xml.send(JSON.stringify({
                  "_id": id,
                  "commid": commid
                }));
              }
            },
            'No': {
              btnClass: 'btn-danger',
            }
          }
        })
      });
    }

    function requestreject(id) {
      $(document).on("click", "#requestrejectbtn", function () {
        $.confirm({
          title: 'Activate User!',
          content: 'Are you Sure you want to Deactivate ',
          theme: 'supervan',
          buttons: {
            'Yes': {
              btnClass: 'btn-success',
              action: function () {
                var xml = new XMLHttpRequest();
                xml.open("POST", "/communityTable/rejectrequest");
                xml.setRequestHeader("Content-Type", "application/json");
                xml.addEventListener("load", function () {
                  var data = JSON.parse(xml.responseText);
                  if (data == "true")
                    alert("User Accepted");
                  initaliserequest();
                })
                xml.send(JSON.stringify({
                  "_id": id,
                  "commid": commid
                }));
              }
            },
            'No': {
              btnClass: 'btn-danger',
            }
          }
        })
      });
    }

    function deleteb(id) {
      $(document).on("click", "#deletebtn", function () {
        $.confirm({
          title: 'Activate User!',
          content: 'Are you Sure you want to Delete ',
          theme: 'supervan',
          buttons: {
            'Yes': {
              btnClass: 'btn-success',
              action: function () {
                var xml = new XMLHttpRequest();
                xml.open("POST", "/communityTable/leaveCommunitybyforce");
                xml.setRequestHeader("Content-Type", "application/json");
                xml.addEventListener("load", function () {
                  var data = JSON.parse(xml.responseText);
                  if (data == "true")
                    alert("Users Removed");
                  initaliseinvited();
                })
                xml.send(JSON.stringify({
                  "_id": id,
                  "commid": commid
                }));
              }
            },
            'No': {
              btnClass: 'btn-danger',
            }
          }

        })
      });
    }

    function noUser() {
      var div1 = document.createElement('div')
      div1.setAttribute("class", "col-sm-12 allcoms well well-sm")
      div1.setAttribute("style", "argin-top:5px;font-weight:bold")
      var center1 = document.createElement('center')
      center1.innerHTML = "No any user"
      div1.appendChild(center1)
      document.getElementById('comlist').appendChild(div1)
    }

    function noMangers() {
      var div1 = document.createElement('div')
      div1.setAttribute("class", "col-sm-12 allcoms well well-sm")
      div1.setAttribute("style", "argin-top:5px;font-weight:bold")
      var center1 = document.createElement('center')
      center1.innerHTML = "No any Managers"
      div1.appendChild(center1)
      document.getElementById('comlist').appendChild(div1)
    }

    function addtoMangersDOM(obj) {
      var deletename = "managers";
      var div1 = document.createElement('div')
      div1.setAttribute("class", "col-sm-12 col-xs-12 allcoms community-user-div")
      div1.setAttribute("style", "margin-top:5px;display:flex;")
      var div2 = document.createElement('div')
      div2.setAttribute("class", "col-sm-2 col-xs-3")
      div2.setAttribute("style", "padding:5px;")
      var a1 = document.createElement('a')
      a1.setAttribute("href", "/communityTable/userprofile/" + obj._id)
      var img1 = document.createElement('img')
      img1.setAttribute("src", obj.photoloc)
      img1.setAttribute("class", "community-member-pic")
      a1.appendChild(img1)
      div2.appendChild(a1)
      div1.appendChild(div2)
      var div3 = document.createElement('div')
      div3.setAttribute("class", "col-sm-8 col-xs-6")
      var a2 = document.createElement('a')
      a2.setAttribute("class", "comusername")
      a2.innerHTML = obj.name
      a2.setAttribute("href", "/communityTable/userprofile/" + obj._id)
      div3.appendChild(a2)
      div1.appendChild(div3)
      if (obj._id == "<%= data2._id %>") {
        var div4 = document.createElement('div')
        div4.setAttribute("class", "col-sm-2 col-xs-3")
        var span1 = document.createElement('span')
        span1.setAttribute("class", "btn btn-success")
        span1.setAttribute("style", "margin-top:25px;float:right")
        span1.innerHTML = "Owner"
        div4.appendChild(span1)
        div1.appendChild(div4)
      }
      document.getElementById('comlist').appendChild(div1)
    }

    function noRequest() {
      var div1 = document.createElement('div')
      div1.setAttribute("class", "col-sm-12 allcoms well well-sm")
      div1.setAttribute("style", "argin-top:5px;font-weight:bold")
      var center1 = document.createElement('center')
      center1.innerHTML = "There are no any request"
      div1.appendChild(center1)
      document.getElementById('comlist').appendChild(div1)
    }

    function noinvitedMembers() {
      var div1 = document.createElement('div')
      div1.setAttribute("class", "col-sm-12 allcoms well well-sm")
      div1.setAttribute("style", "argin-top:5px;font-weight:bold")
      var center1 = document.createElement('center')
      center1.innerHTML = "There are no any invitation pending"
      div1.appendChild(center1)
      document.getElementById('comlist').appendChild(div1)
    }
  </script>
</body>

</html>