<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CQ - <%= data.name %></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/css/navBar.css">
<link rel="stylesheet" type="text/css" href="/css/sidebar.css">
<link rel="stylesheet" type="text/css" href="/css/home-css.css">

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
</head>
<body>
<% include paritials/topbar.ejs %>
<% if(data.isActive == "true"){ %>
  <% include paritials/sidebar.ejs %>
<% } %>
<div class="content-div" style="padding-top: 100px;">
    <div class="container">
        <div class="card shadow">
            <div style="display:flex;">
                <div class="image-container" style="flex:1;">
                    <img src="<%= data2.photoloc %>" id="user-profile-image" class="image-content" />
                </div>
            </div>
            <div class="con">
                <div class="col-div shadow">
                    <div class="panel-heading">Email</div>
                    <div class="panel-body"><%= data2.email %></div>
                </div>
                <div class="col-div shadow">
                    <div class="panel-heading">Gender</div>
                    <div class="panel-body"><%= data2.gender %></div>
                </div>
            </div>
            <div class="con">
                <div class="col-div shadow">
                    <div class="panel-heading">Name</div>
                    <div class="panel-body"><%= data2.name %></div>
                </div>
                <div class="col-div shadow">
                    <div class="panel-heading">City</div>
                    <div class="panel-body"><%= data2.city %></div>
                </div>
            </div>
            <div class="con">
                <div class="col-div shadow">
                    <div class="panel-heading">D.O.B</div>
                    <div class="panel-body"><%= data2.DOB %></div>
                </div>
                <div class="col-div shadow">
                    <div class="panel-heading">Phone</div>
                    <div class="panel-body"><%= data2.phoneno %></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>